body{
    background-color: rgb(85, 175, 175);
    overflow-x: hidden;
}

.DownMainBlock{
    width: 100%;
    height: 100px;
    background-color: rgb(44, 120, 139);
    
    position: fixed;
    top: 980px;
    z-index: 2;
    right: 1px;
}

.AddCycleSize{
    width: 80px;
  position: relative;
  left: 910px;
}

.TextUnderCicrle{
    position: relative;
    font-weight: bold;
    left: 910px;
    bottom: 10px;
    font-size: 20px;
    color: white;
}

.HomeIcon{ 
    position: relative;
    bottom: 105px;
    width: 80px;
    left: 730px;
}

.TextUnderHomeIcon{
    position: relative;
   bottom: 118px;
    left: 690px;   
    font-size: 20px ;
    font-weight: bold;
    color: white;
}

.ChatIcon{
    position: relative;
    width: 80px;
    bottom: 210px;
    left: 1050px;
}

.TextUnderChatIcon{
    font-weight: bold;
    position: relative;
    font-size: 20px;
    bottom: 225px;
    left: 1075px;
    color: white;
}

.NotificationIcon{
    position: relative; 
    width: 80px;
    bottom: 319px;
    left: 1180px;
 }
 
 .TextUnderNotificationIcon{
     position: relative;
     bottom: 332px;
    font-size: 20px;
    font-weight: bold;
    left: 1158px;
    color: white;
 }

 a{
    text-decoration: none;
 }

 .UserProfileBlock1{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: blue;
    position: relative;
    top: 100px;
    left: 200px;
 }

 .TextNextToUserProfileBlock1{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left: 350px;
        bottom: 20px;
 }

 .TextFromUser1{
    font-size: 30px;
    position: relative;
    left: 350px;
 }

 .WhenUserWriteIt1{
    font-size: 40px;
    position: relative;
    left: 800px;
    bottom: 105px;
 }

 .Line1{
    background-color: rgb(166, 229, 208);
    width: 1000px;
    height: 5px;
    border-radius: 20px;
    position: relative;
    left: 100px;
 }

 .UserProfileBlock2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(196, 91, 107);
    position: relative;
    top: 40px;
    left: 200px;
 }

 .TextNextToUserProfileBlock2{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left: 350px;
    bottom: 80px;
 }

 .TextFromUser2{
    font-size: 30px;
    position: relative;
    left: 350px;
    bottom: 60px;
 }

 .WhenUserWriteIt2{
    font-size: 40px;
    position: relative;
    left: 800px;
    bottom: 165px;
 }